# Análisis Exploratorio de datos

# Objetivo

- Entender los datos que se utilizarán en nuestro estudio
- Conocer el tamaño de los datasets
- Descubrir las columnas de nuestro conjunto de datos e identificar el tipo de dato de cada una de ellas

# Carga general de datos
Para nuestra exploración de datos, utilizaremos la siguiente libreria:

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Datos_2016_2020_no_outlier.csv')
data = data.drop('Unnamed: 0', 1)
data.head()

               date id_station  PM2_5  RH   TMP  WDR  WSP
0  01/01/2016 01:00        AJM     45  61  15.1  185  1.9
1  01/01/2016 01:00        AJU     20  88   5.6  197  1.3
2  01/01/2016 01:00        MER     61  58  17.0   97  0.8
3  01/01/2016 02:00        AJU     15  86   6.1  208  2.7
4  01/01/2016 03:00        AJU     12  89   5.6  206  1.8

# Tamaño del conjunto de datos
Utizamos la función de shape para conocer el numero de columnas y filas de nuestros datasets.

In [4]:
data.shape

(401654, 7)

# Descripción de los datos
A continuación se muestran una serie de funciones para conocer nuestro conjunto de datos:

- La función de dtypes nos permite saber el tipo de dato de nuestras columnas.
- Con la función info podemos visualizar los primeros 5 renglones y los últimos 5. También podemos observar el número de columnas y filas.
- La función head nos permite observar los primeros renglones de nuestro dataset y te da la facilidad de observar el número de renglones que quieras.
- La función tail nos permite observar los ultimos renglones de nuestro dataset y al igual que la función head te da la facilidad de observar el número de renglones que quieras.

In [5]:
data.dtypes

date           object
id_station     object
PM2_5           int64
RH              int64
TMP           float64
WDR             int64
WSP           float64
dtype: object

In [6]:
data.info

<bound method DataFrame.info of                     date id_station  PM2_5  RH   TMP  WDR  WSP
0       01/01/2016 01:00        AJM     45  61  15.1  185  1.9
1       01/01/2016 01:00        AJU     20  88   5.6  197  1.3
2       01/01/2016 01:00        MER     61  58  17.0   97  0.8
3       01/01/2016 02:00        AJU     15  86   6.1  208  2.7
4       01/01/2016 03:00        AJU     12  89   5.6  206  1.8
...                  ...        ...    ...  ..   ...  ...  ...
401649  31/12/2020 23:00        SAG     32  47  12.6  167  3.1
401650  31/12/2020 23:00        SFE     18  36   7.8  226  2.7
401651  31/12/2020 23:00        TLA      9  38  11.3   43  3.3
401652  31/12/2020 23:00        UAX      9  35  11.3  204  4.3
401653  31/12/2020 23:00        UIZ     10  41  13.3  133  2.1

[401654 rows x 7 columns]>

In [7]:
data.head(25)

                date id_station  PM2_5   RH   TMP  WDR  WSP
0   01/01/2016 01:00        AJM     45   61  15.1  185  1.9
1   01/01/2016 01:00        AJU     20   88   5.6  197  1.3
2   01/01/2016 01:00        MER     61   58  17.0   97  0.8
3   01/01/2016 02:00        AJU     15   86   6.1  208  2.7
4   01/01/2016 03:00        AJU     12   89   5.6  206  1.8
5   01/01/2016 04:00        AJU     16   95   4.3  207  1.3
6   01/01/2016 05:00        AJU     13   99   3.1  205  1.8
7   01/01/2016 06:00        AJU     17  100   2.7  202  1.3
8   01/01/2016 07:00        AJU     18  100   2.2  199  1.3
9   01/01/2016 08:00        AJU     24  100   2.3  202  1.3
10  01/01/2016 09:00        AJU     32   98   6.8  182  0.9
11  01/01/2016 10:00        AJU     34   72  13.0   46  1.8
12  01/01/2016 11:00        AJU     14   60  15.0   36  2.2
13  01/01/2016 12:00        AJU     47   60  15.3   28  2.7
14  01/01/2016 14:00        SAG     54   41  21.5  358  2.0
15  01/01/2016 15:00        AJU     22   45  18.0  175  2.2
16  01/01/2016 15:00        MER     53   37  22.2   93  1.9
17  01/01/2016 15:00        SAG     45   36  22.5   39  1.1
18  01/01/2016 15:00        UAX     43   36  23.4  131  1.6
19  01/01/2016 15:00        XAL     45   32  22.1  116  1.4
20  01/01/2016 16:00        AJU     15   49  17.6  189  2.2
21  01/01/2016 16:00        HGM     42   29  24.0  351  0.7
22  01/01/2016 16:00        MER     36   35  22.8   86  1.6
23  01/01/2016 16:00        NEZ     59   35  23.2    4  1.4
24  01/01/2016 16:00        SAG     34   35  23.5  232  0.8