In [3]:
import pandas as pd
from scipy import  stats
import numpy as np

In [4]:
data = pd.read_csv('Datos_2016_2020_no_outlier.csv')
data = data.drop('Unnamed: 0', 1)
data.head()

               date id_station  PM2_5  RH   TMP  WDR  WSP
0  01/01/2016 01:00        AJM     45  61  15.1  185  1.9
1  01/01/2016 01:00        AJU     20  88   5.6  197  1.3
2  01/01/2016 01:00        MER     61  58  17.0   97  0.8
3  01/01/2016 02:00        AJU     15  86   6.1  208  2.7
4  01/01/2016 03:00        AJU     12  89   5.6  206  1.8

In [5]:
# Normalizando fechas
data['date'] = pd.to_datetime(data['date'], unit='ns')
data.head()

                 date id_station  PM2_5  RH   TMP  WDR  WSP
0 2016-01-01 01:00:00        AJM     45  61  15.1  185  1.9
1 2016-01-01 01:00:00        AJU     20  88   5.6  197  1.3
2 2016-01-01 01:00:00        MER     61  58  17.0   97  0.8
3 2016-01-01 02:00:00        AJU     15  86   6.1  208  2.7
4 2016-01-01 03:00:00        AJU     12  89   5.6  206  1.8

In [6]:
# Funcion para media truncada al 10% de una columna x
def trim_mean_10(x):
    return stats.trim_mean(x, 0.1)

In [7]:
# Funcion para calcular el percentil n de una columna x
def percentile(n):
    def percentile_(x):
        return x.quantile(n)
    return percentile_

In [8]:
# esto para todos? Rh, Tmp, Wdr, Wsp
# Calculando los estimados de locacion y variabilidad
data.groupby('id_station').PM2_5.agg(
    media='mean',
    mediana='median',
    media_truncada=trim_mean_10,
    desv_estandar='std',
    minimo='min',
    percentile_25=percentile(0.25),
    percentile_50=percentile(0.5),
    percentile_75=percentile(0.75),
    maximo='max',
    rango=np.ptp, # max - min
    IQR=stats.iqr
)

,media,mediana,media_truncada,desv_estandar,minimo,percentile_25,percentile_50,percentile_75,maximo,rango,IQR
id_station,,,,,,,,,,,
AJM,18.040344,16,17.276028,10.107412,1,10,16,25,47,46,15
AJU,18.128507,17,17.360607,11.132985,1,9,17,25,51,50,16
BJU,20.930831,19,20.044746,11.462405,1,12,19,28,54,53,16
GAM,22.708895,21,21.722745,12.609588,1,13,21,31,58,57,18
HGM,22.310861,20,21.349900,12.419512,1,13,20,30,58,57,17
INN,12.910635,12,12.318874,7.417019,1,7,12,18,34,33,11
MER,23.859693,22,23.018799,13.314197,1,14,22,32,61,60,18
MGH,22.050616,21,21.250496,11.502635,1,13,21,29,55,54,16
MON,18.536604,17,17.763671,10.387969,1,11,17,25,48,47,14
MPA,18.010794,16,16.979101,11.195248,1,9,16,25,51,50,16
NEZ,21.841944,20,20.849385,12.491910,1,12,20,29,59,58,17
PED,17.387364,16,16.675792,9.599150,1,10,16,24,45,44,14
SAG,23.133946,21,22.307045,12.874116,1,13,21,31,60,59,18
SFE,17.073020,15,16.231402,9.812274,1,10,15,23,45,44,13
TLA,23.342335,22,22.493185,12.466225,1,14,22,31,59,58,17
UAX,20.019114,19,19.370045,10.826709,1,12,19,27,52,51,15
UIZ,21.851507,20,20.980674,12.415127,1,12,20,30,57,56,18
XAL,27.266980,24,25.944073,15.876865,1,15,24,37,72,71,22